In [1]:
import zipfile
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import pandas as pd

In [2]:
maxi = pd.read_csv('hr_rr_t_ag_dbp_sbp_age_gender_mortality_elixhauser_hem_urea_urine_rdw_htc.csv')

In [3]:
abdul_karim = pd.read_csv('final_data_table_karim.csv')

In [4]:
abdul_karim

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DIAGNOSIS,GCS_max,GCS_mean,Lactate_min,Lactate_max,Lactate_mean,BUN_min,BUN_mean,AG_max,AG_mean,Bilirubin_max,Bilirubin_mean,MORTALITY_INHOSPITAL
0,3,145834,211552,HYPOTENSION,6.0,4.444444,1.3,8.8,3.800000,36.0,40.500000,23.0,18.400000,0.8,0.800000,0
1,6,107064,228232,CHRONIC RENAL FAILURE/SDA,6.0,6.000000,NaN,NaN,NaN,65.0,65.500000,20.0,19.000000,0.2,0.200000,0
2,9,150750,220597,HEMORRHAGIC CVA,5.0,2.600000,1.9,2.7,2.380000,17.0,18.500000,13.0,12.500000,0.4,0.400000,1
3,12,112213,232669,PANCREATIC CANCER/SDA,6.0,4.842105,1.6,15.1,8.716667,28.0,35.500000,28.0,14.750000,9.9,9.050000,1
4,17,194023,277042,PATIENT FORAMEN OVALE\ PATENT FORAMEN OVALE MI...,6.0,5.615385,0.9,0.9,0.900000,10.0,10.666667,12.0,11.500000,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22360,99982,151454,221194,TVR,5.0,3.666667,1.5,2.5,1.925000,21.0,25.000000,15.0,13.000000,1.4,1.400000,0
22361,99982,183791,239827,BIVENTRICULAR HEART FAILURE,5.0,5.000000,NaN,NaN,NaN,32.0,35.833333,14.0,10.166667,NaN,NaN,0
22362,99985,176670,279638,FEVER,5.0,1.615385,1.2,2.1,1.650000,13.0,15.333333,13.0,12.000000,1.1,0.866667,0
22363,99991,151118,226241,DIVERTICULITIS/SDA,5.0,5.000000,1.0,1.1,1.050000,17.0,19.000000,12.0,11.500000,NaN,NaN,0
22364,99995,137810,229633,ABDOMINAL AORTIC ANEURYSM/SDA,5.0,4.333333,0.9,0.9,0.900000,10.0,11.500000,11.0,9.500000,3.5,3.500000,0

In [7]:
columns_to_keep = [
    'ICUSTAY_ID',
    'AG_MEAN', 'AG_MAX', 'AG_MEDIAN', 'AG_MIN', 'AG_STD',
    'SYSBP_MIN', 'SYSBP_MEAN', 'SYSBP_STD',
    'DIASBP_MIN', 'DIASBP_MEAN',
    'AGE',
    'RR_MEAN', 'RR_STD', 'RR_MAX', 'RR_MIN',
    'TEMP_STD', 'TEMP_MIN',
    'HR_MEAN', 'HR_MAX', 'HR_STD',
    'RDW_max', 'RDW_mean', 'RDW_min', 'RDW_std',
    'age_adj_comorbidity_score'
]

maxi = maxi[columns_to_keep]

In [8]:
maxi

,ICUSTAY_ID,AG_MEAN,AG_MAX,AG_MEDIAN,AG_MIN,AG_STD,SYSBP_MIN,SYSBP_MEAN,SYSBP_STD,DIASBP_MIN,...,TEMP_STD,TEMP_MIN,HR_MEAN,HR_MAX,HR_STD,RDW_max,RDW_mean,RDW_min,RDW_std,age_adj_comorbidity_score
0,280836,13.900000,15.0,14.5,12.0,1.370320,15.0,106.836735,27.048903,12.0,...,0.789344,37.111113,103.101695,190.0,25.040447,13.1,12.925000,12.7,0.206155,22.0
1,206613,11.000000,15.0,10.5,9.0,2.280351,83.0,101.569231,9.154864,32.0,...,0.790769,37.277777,117.653846,147.0,15.438537,12.8,12.675000,12.5,0.150000,4.0
2,220345,15.500000,18.0,16.0,12.0,2.516611,71.0,122.848101,17.451830,33.0,...,0.192450,36.222221,56.875000,70.0,6.499084,14.4,14.166667,14.0,0.208167,19.0
3,254851,13.250000,14.0,13.5,12.0,0.957427,88.0,151.995851,17.360515,44.0,...,0.742393,35.611110,92.716981,116.0,11.774120,13.7,12.966667,12.6,0.635085,2.0
4,219649,14.500000,22.0,13.0,11.0,4.037326,90.0,139.056995,18.354775,50.0,...,0.544847,35.833333,59.933333,90.0,8.632391,14.3,14.200000,14.1,0.141421,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21173,270429,11.833333,14.0,12.0,9.0,1.834848,65.0,109.971429,15.424403,33.0,...,0.730357,37.055556,111.625000,134.0,11.510633,16.6,16.116667,15.8,0.299444,14.0
21174,201233,9.714286,12.0,9.0,7.0,1.799471,70.0,128.093333,22.882882,39.0,...,1.020552,35.055556,87.218182,106.0,8.285844,12.8,12.725000,12.7,0.050000,8.0
21175,283653,8.000000,10.0,8.0,6.0,1.581139,118.0,149.054545,17.266343,24.0,...,0.600147,35.777778,72.720000,94.0,13.516490,15.2,15.200000,15.2,0.000000,11.0
21176,202802,12.000000,12.0,12.0,12.0,NaN,72.0,108.389610,12.071231,29.0,...,0.908366,35.700000,99.000000,144.0,14.645819,18.3,17.800000,17.2,0.556776,2.0
21177,275346,11.666667,23.0,8.5,8.0,6.022181,77.0,136.557377,20.295767,49.0,...,0.728901,35.611111,119.673077,140.0,13.542556,14.8,14.700000,14.6,0.141421,3.0

In [9]:
abdul_karim['ICUSTAY_ID'].nunique()

22365

In [11]:
maxi['ICUSTAY_ID'].nunique()

21178

In [12]:
abdul_karim_maxi_df = pd.merge(abdul_karim, maxi, on='ICUSTAY_ID', how='inner')

In [13]:
abdul_karim_maxi_df['ICUSTAY_ID'].nunique()

21178

In [14]:
abdul_karim_maxi_df.columns

Index(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DIAGNOSIS', 'GCS_max',
       'GCS_mean', 'Lactate_min', 'Lactate_max', 'Lactate_mean', 'BUN_min',
       'BUN_mean', 'AG_max', 'AG_mean', 'Bilirubin_max', 'Bilirubin_mean',
       'MORTALITY_INHOSPITAL', 'AG_MEAN', 'AG_MAX', 'AG_MEDIAN', 'AG_MIN',
       'AG_STD', 'SYSBP_MIN', 'SYSBP_MEAN', 'SYSBP_STD', 'DIASBP_MIN',
       'DIASBP_MEAN', 'AGE', 'RR_MEAN', 'RR_STD', 'RR_MAX', 'RR_MIN',
       'TEMP_STD', 'TEMP_MIN', 'HR_MEAN', 'HR_MAX', 'HR_STD', 'RDW_max',
       'RDW_mean', 'RDW_min', 'RDW_std', 'age_adj_comorbidity_score'],
      dtype='object')

In [15]:
abdul_karim_maxi_df = abdul_karim_maxi_df.drop('DIAGNOSIS', axis=1)

In [16]:
abdul_karim_maxi_df.to_csv('second_feature_df_22_12_2025.csv', index = False)

In [17]:
x = pd.read_csv('second_feature_df_22_12_2025.csv')

x.head(5)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,GCS_max,GCS_mean,Lactate_min,Lactate_max,Lactate_mean,BUN_min,BUN_mean,...,TEMP_STD,TEMP_MIN,HR_MEAN,HR_MAX,HR_STD,RDW_max,RDW_mean,RDW_min,RDW_std,age_adj_comorbidity_score
0,3,145834,211552,6.0,4.444444,1.3,8.8,3.800000,36.0,40.500000,...,0.335085,36.200001,98.925373,168.0,28.103334,15.7,15.400000,15.0,0.273861,16.0
1,6,107064,228232,6.0,6.000000,NaN,NaN,NaN,65.0,65.500000,...,0.441010,36.000002,84.791667,100.0,5.573334,17.0,16.450000,15.9,0.777817,12.0
2,9,150750,220597,5.0,2.600000,1.9,2.7,2.380000,17.0,18.500000,...,0.822093,35.500001,87.644737,111.0,8.162849,14.3,14.000000,13.8,0.264575,12.0
3,12,112213,232669,6.0,4.842105,1.6,15.1,8.716667,28.0,35.500000,...,0.837151,35.500001,83.208333,105.0,8.518311,14.9,14.625000,14.2,0.309570,7.0
4,17,194023,277042,6.0,5.615385,0.9,0.9,0.900000,10.0,10.666667,...,0.623295,36.000002,82.400000,114.0,11.049719,12.9,12.766667,12.6,0.152753,0.0